CLAUDE_BASE_URL=https://地址/v1
CLAUDE_API_KEY=key

DEEPSEEK_BASE_URL=https://api.deepseek.com/v1
DEEPSEEK_API_KEY=你的deepseek官方key

DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
DASHSCOPE_API_KEY=你的dashscope官方key
